.custom-menu-bar {
	position: absolute;
	margin-bottom: 30px;
	top: 0 !important;
	height: 30px;
}

.custom-menu-list {
	background-color: #58ABF5;
	width: 100%;
	height: 36px;
	display:inline-block;
}

.custom-menu-item {
	display: inline-block;
	font-size: 15px;
}

.custom-menu-item:hover {
	text-decoration: none !important;
}

.custom-form {
	margin: 1em;
	font-size:13px;
	width: 50%;
}

.custom-table {
	margin: 1em;
	font-size:13px;
	width: 90%;
}

.custom-table tbody tr:hover {
  background-color: #ffff99;
}

.custom-table tbody tr {
	text-align: left;
}

.content-wrap {
	margin: 3em;
}

.custom-form {
	font-size: 14px;
	margin: 1em;
	font-family: 'Helvetica Neue';
}

.custom-toggle {
	color: #777; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 14px;
	width: 95%;
	letter-spacing: 1px; 
	line-height: 1;
	text-align: left;
	border-bottom: 1px solid;
}

.custom-create-title {
	font-size: 16px;
}

.err-msg {
	color: red;
}

.custom-price-button {
	color: #777; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 14px;
	vertical-align: text-top;
	letter-spacing: 1px; 
	line-height: 1;
	text-align: left;
	margin: 3px;
	border: 1px solid;
}

.custom-button {
	margin-right: 5px;
}



#spinner {
	margin: 5em;
}

a:link {
    text-decoration: none !important;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

h4 { font-family: 'Open Sans'; color: #777;}
 
h3 { color: #777 !important; font-family: 'Helvetica Neue', sans-serif !important letter-spacing: -1px; line-height: 1;}

h2 { color: #777; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; }

p { color: #777; font-family: 'Helvetica Neue', sans-serif; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }



